
.container{
    padding-top: 10px;
    padding-bottom: 60px;
    margin-bottom: 10px;
    background-color: lightpink;
    border-radius: 5px;
}

.col-lg-10 .row{
    padding: 10px;
}

.col-lg-10 .row .col-sm-2{
    font-weight: bold;
}

.col-lg-10 .row .col{
    font-style: italic;
}

.del{
    cursor: pointer;
    font-weight: 1000;
}

.del-abbr[title]{
    text-decoration: none;
}
